<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}"
    >
    <!-- 사용자 CSS 추가 -->
    <th:block layout:fragment="css">
        <style>
            .fieldError {
                color: #bd2130;
            }
        </style>
    </th:block>

    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function(){
                var errorMessage = [[${errorMessage}]];
                if(errorMessage != null){
                    alert(errorMessage);
                }
            });
        </script>
    </th:block>

    <div layout:fragment="content">
        <form th:action="@{/admin/post/new}" th:object="${postForm}" method="post">
            <textarea name="contents" class="form-control" id="contents" th:field="*{content}"></textarea>
            <script>
                var ckeditor_config = {
                    filebrowserUploadMethod :'form',
                    filebrowserUploadUrl: "/admin/post/imageUpload",
                    extraPlugins : 'autogrow',
                        };
                
                CKEDITOR.replace("contents", ckeditor_config);
            </script>
                <button class="btn btn-primary">저장</button>
        </form>
    </div>
</html>